{
  "env": {
    "node": true
  },

  "ecmaFeatures": {
    "blockBindings": true,
    "arrowFunctions": true,
    "classes": true,
    "templateStrings": true,
    "destructuring": true,
    "objectLiteralShorthandMethods": true,
    "spread": true,
    "restParams": true,
    "jsx": true,
  },

  "plugins": [
    "react"
  ],

  "rules": {
    "react/prop-types": [2],

    "no-use-before-define": [2, "nofunc"],
    "dot-location": [2, "property"],
    "curly": [2, "multi-line"],
    "no-shadow": 2,
    "no-extra-bind": 2,

    "block-spacing": [2, "always"],

    "comma-spacing": [2, { "before": false, "after": true }],

    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true
    }],

    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-nested-ternary": 2,

    "space-before-blocks": [2, "always"],
    "space-after-keywords": [2, "always"]
  },
}
